{% extends 'base.html' %}

{% block head_title %}NewsQuest - About{% endblock %}

{% block content %}
<div>
    <h1 class="text-5xl font-sans font-bold p-4 text-blue-800 text-center">About Us</h1>
    <p class="text-xl font-bold px-16 text-start">NewsQuest, where we believe that staying informed is not just a choice
        but a powerful tool for navigating the world around us. In the ever-evolving landscape of news, we aim to be
        your
        trusted companion, delivering timely, accurate, and diverse perspectives to empower your decisions and enrich
        your
        understanding....</p>
    <p class="text-xl font-bold px-16 text-start">NewsQuest, where we believe that staying informed is not just a choice
        but a powerful tool for navigating the world around us. In the ever-evolving landscape of news, we aim to be
        your
        trusted companion, delivering timely, accurate, and diverse perspectives to empower your decisions and enrich
        your
        understanding....</p>
    <p class="text-xl font-bold px-16 text-start">NewsQuest, where we believe that staying informed is not just a choice
        but a powerful tool for navigating the world around us. In the ever-evolving landscape of news, we aim to be
        your
        trusted companion, delivering timely, accurate, and diverse perspectives to empower your decisions and enrich
        your
        understanding....</p>

    
</div>
{% endblock %}