{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 
<div class="container mx-auto my-5">

    <h2 class="text-start mb-4 font-bold text-4xl text-blue-800">Add News</h2>
    <hr class="w-48 border-2 border-blue-800 mb-10">
    <div class="flex  items-center justify-between">
      <div class="w-1/2">
        <img src="{% static 'news.jpg' %}" class="w-full " style="height: 500px;" alt="">
      </div>
        <div class="card mx-auto w-1/2"
          style="max-width: 500px; padding: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #e8f7fa;">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-block mt-4">Submit</button>
          </form></div>
    </div>
   
  </div>
</div>
  
{% endblock %}