{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="flex items-center justify-center pt-10">
  <div class="flex flex-col max-w-md gap-2 p-6 rounded-md shadow-md  bg-white ">
    <form method="post">
      <h2 class="flex items-center gap-2 text-xl font-semibold leadi tracki">
        ❌Do you really want to delete the news?
      </h2>
      <p class="flex-1 dark:text-gray-400">If you delete this news, it will be gone forever. You can't undo this action.
      </p>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="flex flex-col justify-end gap-3 mt-6 sm:flex-row">
        <button type="submit" class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded">Delete</button>
        <a href="{% url 'home' %}" class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">No</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}