{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ news.name }}{% endblock %}

{% block content %}
<div class="container mt-5 bg-gray-100 p-6 rounded-lg shadow-md">
    {% if messages %}
        <div class="alert alert-danger text-center" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="md:flex">
       
        <div class="md:w-1/2 md:ml-4">
            <h1 class="text-4xl font-bold mb-4">{{ news.title }}</h1>
            <p class="text-gray-800">{{ news.description }}</p>

            {% if user.is_authenticated %}
                <!-- {% if user in news.borrowers.all %}
                    <form method="post" action="" class="mt-4">
                        {% csrf_token %}
                        <div class="text-center">
                            <button name="return_news" type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-800">Return Now</button>
                        </div>
                    </form>
                {% else %}
                    <form method="post" action="" class="mt-4">
                        {% csrf_token %}
                        <div class="text-center">
                            <button name="borrow_now" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Borrow Now</button>
                        </div>
                    </form> -->
                {% endif %}
            {% else %}
                <p class="mt-4"><a href="{% url 'login' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Login</a> to borrow or return this news.</p>
            {% endif %}
        </div>
        <div class="md:w-1/2 flex items-center justify-center mb-4">
            {% if news.image %}
                <img src="{{ news.image.url }}" alt="{{ news.name }} Image" class="w-full md:w-2/3 h-auto rounded-lg shadow-md">
            {% else %}
                <p>No image available.</p>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}