{% load static %}
<div class="container mx-6 mb-20">
    <h1 class="text-4xl font-bold text-start text-blue-800">Sponsors</h1>
    <hr class="w-48 border-2 border-blue-800 mb-10">

    <div class="swiffy-slider slider-item-show5 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart  slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9  shadow-xl py-3 py-lg-4"
        data-slider-nav-autoplay-interval="2000" style="height: 140px;">
        <div class="slider-container">
            <div><img src="../static/sponser/1.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/6.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/8.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/3.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/7.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/5.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/2.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/12.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/4.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/10.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/11.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/9.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/10.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/6.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/8.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/7.jpg" loading="lazy" alt="..."></div>
            <div><img src="../static/sponser/5.jpg" loading="lazy" alt="..."></div>
         
        </div>

     

    </div>

</div>