<div>
    <h1 class="font-bold text-3xl text-center pb-5">NewsQuest - Editor Approval</h1>
    <p class="mb-1 font-bold text-gray-900 text-lg">Hello {{ user.first_name }} {{ user.last_name }},</p>
    <p class="mb-1 font-bold text-gray-900 text-lg">Congratulations! Your account has been approved as an editor for our online news portal.</p>
    <p class="mb-1 font-bold text-gray-900 text-lg">As an editor, you now have the ability to:</p>
    <ul class="text-red-600 hover:text-underline">
        <li>Edit existing news.</li>
        <li>Change content in news.</li>
        <li>Add new news to our platform.</li>
        <li>Delete news.</li>
    </ul>
    <p class="mb-1 font-bold text-gray-900 text-lg">We trust in your ability to contribute to the quality and accuracy of our news content.<br>Thank you for joining us.</p>
    <p>© {% now "Y" %} NewsQuest</p>
    <p class="mb-1 font-bold text-green-500 text-lg">All rights reserved by NewsQuest (Sabrina Rashid)</p>

</div>

