{% extends 'base.html' %}
{% load static %}
{% block head_title %}NewsQuest - Login{% endblock %}
{% block content %}
{% if form.non_field_errors %} 
{% for error in form.non_field_errors %}
<div class="bg-sky-100 border border-sky-400 text-blue-800 px-4 py-3 rounded relative mt-4 " role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} 
{% endif %}
<div class="pt-10">
    <h1 class="font-bold text-2xl md:text-5xl text-blue-900 text-center pb-5 ">Login Now!</h1>
    <div class="flex justify-center items-center h-screen">
    <div class="w-1/2 hidden md:flex">
        <img src = "{% static 'login.png'%}" >
    </div>
    <div class="py-2 px-3 rounded-xl bg-transparent mt-12 w-full md:w-1/2">
        
        <div class="w-full mt-10">
            <form method="post" class="shadow-md border border-gray-200 rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %} 
                {% for hidden_field in form.hidden_fields %} 
                    {{ hidden_field.errors }} 
                    {{ hidden_field}} 
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    <input
                        class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                </div>
                {% if field.errors %} {% for error in field.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %} {% endif %} {% endfor %}

                <div class="flex items-center justify-center w-full">
                    <button
                        class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                        LOGIN
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}