{% load static %}
<nav class="flex items-center justify-between flex-wrap py-4 px-2 md:px-10">
    <div class="flex items-center">
        <a href="{% url 'home' %}"><img src="{% static 'logo.jpg' %}" width="50px" height="50px"></a>
        <a href="{% url 'home' %}" class="font-semibold text-xl tracking-tight text-blue-800 text-3xl ">NewsQuest</a>
    </div>
    <div class="flex items-center ">

        <a href="{% url 'home' %}"
            class="md:mr-4 flex text-blue-900 hover:text-blue-700  focus:underline font-semibold hover:font-bold text-lg ">Home
        </a>
        <a href="{% url 'about' %}"
        class="hidden md:flex text-blue-900 hover:text-blue-700  focus:underline font-semibold hover:font-bold text-lg ">About
        </a>
        {% if request.user.is_authenticated %}
        {% if request.user.account.is_editor %}
        <a href="{% url 'add_news' %}"
            class="hidden md:flex text-blue-900 hover:text-blue-700  focus:underline ml-4 font-semibold hover:font-bold text-lg ">Add
            News</a>

        {% endif %}
        <a href="{% url 'all_news' %}"
            class="hidden md:flex text-blue-900 hover:text-blue-700  focus:underline ml-4 font-semibold hover:font-bold text-lg ">All
            News</a>
        <!-- <h1 class="text-blue-900 hover:text-blue-700  focus:underline ml-4 font-semibold hover:font-bold text-lg ">Editors</h1> -->

        {% else %}
        
        <div>
            <a href="{% url 'login' %}"
                class="text-blue-900 hover:text-blue-700  focus:underline ml-4 font-semibold hover:font-bold text-lg">Login</a>
        </div>
        <div>
            <a href="{% url 'signup' %}"
                class="text-blue-900 hover:text-blue-700  focus:underline ml-4 font-semibold hover:font-bold text-lg">Register</a>
        </div>
        {% endif %}
        {% if request.user.is_authenticated %}
        <div class="relative ml-4">
            <button onclick="toggleDropdown()" class="flex items-start focus:outline-none border-2 border-gray-900 rounded-full">
           <!-- dynamic image -->
           {% if request.user.account.profile_pic  %}
                <img src="{{request.user.account.profile_pic.url}}" alt="Profile" class="w-8 h-8 rounded-full">
           {% else %}
                <img src="{% static './profile_pics/profile.jpg' %}" alt="Profile" class="w-8 h-8 rounded-full">
                
           {% endif %}
            </button>
            <div id="dropdownMenu"
                class="absolute right-0 bg-white mt-2 px-2 py-1 border border-gray-300 rounded-lg shadow-lg hidden ">
                <!-- Dropdown content here -->
                <h1 class="block px-4 py-1 text-gray-800 hover:bg-gray-200">{{request.user.username}}</h1>
                <!-- <a href="{% url 'home' %}" class="md:hidden block px-4 py-1 text-gray-800 hover:bg-gray-200">Home</a> -->
                <a href="{% url 'about' %}" class="md:hidden block px-4 py-1 text-gray-800 hover:bg-gray-200">About</a>
                <a href="{% url 'all_news' %}" class="md:hidden block px-4 py-1 text-gray-800 hover:bg-gray-200">All
                    News</a>
                {% if request.user.account.is_editor %}
                <a href="{% url 'add_news' %}" class="md:hidden block px-4 py-1 text-gray-800 hover:bg-gray-200">Add
                    News</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="block px-4 py-1 text-gray-800 hover:bg-gray-200">Profile</a>
                <a href="{% url 'logout' %}" class="block px-4 py-1 text-gray-800 hover:bg-gray-200">Logout</a>

            </div>
        </div>
        {% endif %}
    </div>

    {% include 'categories.html' %}
    <hr class="w-full h-px bg-sky-900 border-2 ">
</nav>

<script>
    function toggleDropdown() {
        var dropdownMenu = document.getElementById("dropdownMenu");
        dropdownMenu.classList.toggle("hidden");
    }
</script>